<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Challenges", challenges_path%></li>
    <li class="breadcrumb-item" aria-current="page">
      <%= link_to @challenge.title, new_challenge_submission_path(challenge: @challenge) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Submission accepted</li>
  </ol>
</nav>

<% if @submission.success %>
  <p>Congratulations! Your solution is correct</p>
<% else %>
  <p>Looks like your solution is not correct. <b>not yet</b></p>
<% end %>
