<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Challenges", challenges_path%></li>
    <li class="breadcrumb-item active" aria-current="page">New Challenge</li>
  </ol>
</nav>

<%= bootstrap_form_for @challenge do |f| %>
  <%= render partial: "form_fields", locals: { f: f } %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
